{% extends 'base.html' %}
{% block body %}
<h1>{{release.package.name}} {{release.version}}</h1>
<div class="row mt-xl-3">
  <div class="col">
    {{release.description|tohtml|safe}}
  </div>
</div>
<div class="row mt-xl-3">
  <div class="col">
    <table class="table">
      <thead>
        <tr>
          <th>filename</th>
        </tr>
      </thead>
      {% for f in files %}
      <tr>
        <td>
          <a href="{{url_for('simple.download_package', package=release.package.name, source=f)}}">{{f}}</a>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
<div class="row">
  <div class="col">
    download url : {{release.download_url}}
    <br/>
    home page : {{release.home_page}}
    <br/>
    keywords : {{release.keywords}}
    <br/>
    md5 digest : {{release.md5_digest}}
    <br/>
    created on : {{release.created_at.strftime("%Y-%m-%d")}}
    {% if release.updated_at %}
    <br/>
    last update : {{release.updated_at.strftime("%Y-%m-%d")}}
    {% endif %}
  </div>
</div>
<div class="row">
  <div class="col mt-3">
    <h3>Other releases</h3>
    {% for r in releases %}
    <a href="{{url_for('dashboard.release', package=release.package.name, release_id=r.id)}}">{{r.version}}</a>
    {% endfor %}
  </div>
</div>
{% endblock %}
